[SddmGreeterTheme]
Name=sddm-electric-state-theme
Description=sddm-electric-state-theme
Author=keyitdev
Website=https://github.com/Keyitdev/sddm-electric-state-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.4
ConfigFile=Themes/electric_state.conf
Screenshot=Previews/electric_state.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-electric-state-theme
Theme-API=2.0
QtVersion=6
