[SddmGreeterTheme]
Name=sddm--theme
Description=sddm-theme
Author=Camleaf
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.4
ConfigFile=Themes/electric_state.conf
MainScript=Main.qml
Theme-Id=sddm-theme
Theme-API=2.0
QtVersion=6
